*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe{
    position: absolute;
    bottom: 0px;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0px;
}

.jump{
    animation: jump 500ms ease-out;
}

.nuvem{
    position: absolute;
    width: 550px;
    animation: nuvem-animation  20s infinite linear;
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump{

    0% {
        bottom: 0px;
    }

    40% {
        bottom: 200px;
    }

    50% {
        bottom: 200px;
    }

    60% {
        bottom: 200px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes nuvem-animation {
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }
}